{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.report_details'|trans({'%id%': report.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.report_details'|trans({'%id%': report.id|default('')}) }}</h1>
    {% if report is defined and report|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ report.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ report.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ report.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  report.title }}</dd>
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{  report.content }}</dd>
            <dt>{{ 'label.status'|trans }}</dt>
            <dd>{{  report.status.title }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  report.category.title }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{  report.author.username }}</dd>
        </dl>
        <p>
            <a href="{{ url('report_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.record_not_found'|trans
        } %}
    {% endif %}
{% endblock %}